//
// Root
//
@import "bootstrap/scss/variables";

html {
  font-family: sans-serif;
  text-size-adjust: 100%;
}


body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 // font-size: $root-font-size !important;
  // [dir='rtl'] {
  //   font-size: 18px; /* Font size for RTL text */
  // }
  
  // [dir='ltr'] {
  //   font-size: 16px; /* Font size for LTR text */
  // }
  font-weight: $font-weight-base;
  font-family: $font-family-sans-serif;
    position: relative;
  // Tablet mode
  @include media-breakpoint-up(lg) {
    font-size: $root-font-size-lg !important;
  }
  @include media-breakpoint-up(md) {
    font-size: $root-font-size-lg !important;
  }
  // Mobile mode
  @include media-breakpoint-down(md) {
    font-size: $root-font-size-md !important;
  }
  @include media-breakpoint-down(sm) {
    font-size: 14px!important;
  }
  @include media-breakpoint-down(xs) {
    font-size: 12px!important;
  }
}

body {
  display: flex;
  flex-direction: column;

  a:hover,
  a:active,
  a:focus {
    text-decoration: none !important;
  }
}

canvas {
  user-select: none;
}

// Angular integration
router-outlet {
  display: none;
}
[dir='rtl'] {
  font-size: 18px; /* Font size for RTL text */
}

[dir='ltr'] {
  font-size: 16px; /* Font size for LTR text */
}