a {
  
}
.MenuItemLabel:hover {
  border-style: solid;
  border-color: #f15722;
  border-width: 0px 0px 1px;
  width: auto;
}
.menu-active {
  border-style: solid;
  border-color: #f15722;
  border-width: 0px 0px 1px;
  width: auto;
}
.taglinkcontent {
  width: auto;
  min-height: 16px;
  position: relative;
  top: 13px;
  font-size: 13px;
  letter-spacing: 2px;
  color: #f15722;
  text-align: center;
  line-height: 16px;
  font-family: roboto, sans-serif;
  font-weight: 400;
}
