#u634-4 {


}
.rotate-text {
  position: absolute; /* make the container position relative to its parent */
  top: 50%; /* set the top position to center vertically */
  left: 50%; /* set the left position to center horizontally */
  transform: translate(-50%, -50%) rotate(-90deg); /* translate to center and rotate 90 degrees */
  transform-origin: center center; /* set the rotation origin to center */
  white-space: nowrap; /* prevent line breaks */
  min-height: 38px;
  font-size: 20px;
  letter-spacing: 10px;
  line-height: 24px;
 
color: white;
}